@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: url("../img/road.jpg") 0 0 / 100% no-repeat;
  font-family: 'Press Start 2P', cursive;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.car {
  padding: 250px 0;
}

.car__text {
  font-size: 60px;
  position: fixed;
  color: #fff;
  top: 50px;
  right: 0;
  left: 0;
  text-align: center;
  padding: 0 50px;
  z-index: 3;
  text-shadow: 10px 10px 20px #fff;

}

.car__window {
  margin: 0 auto;
}

.window-car img {
  max-width: 100%;
}

.window-car__body {
  max-width: 600px;
  height: 155px;
  border-radius: 40% 40% 0% 100% / 100% 100% 0% 0%;
  padding: 5px;
  background-color: red;
  margin: 0 auto;
  position: relative;
}

.window-car__body::before,
.window-car__body::after {
  content: "";
  position: absolute;
  bottom: 25px;
  width: 25px;
  height: 10px;
  background-color: red;
  z-index: -1;
}

.window-car__body::before {
  left: -18px;
}

.window-car__body::after {
  right: -18px;
}

.window-car__box {
  width: 570px;
  height: 145px;
  overflow: hidden;
  border-radius: 60% 60% 0% 100% / 100% 100% 0% 0%;
  background-color: red;
  margin: 0 auto;
  position: relative;
}

.window-car__box::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 10% 10% 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  box-shadow: 0 -5px 0 #000;
  z-index: 1;
}

.window-car__mirror {
  width: 65px;
  height: 50px;
  background-color: red;
  border-radius: 40%;
  position: absolute;
  bottom: 15px;
}

.window-car__mirror_left {
  left: -75px;
  box-shadow: inset -5px 5px 5px rgb(36, 2, 2);
}

.window-car__mirror_right {
  right: -75px;
  box-shadow: inset 5px 5px 5px rgb(36, 2, 2);
}

.car__bottom {
  max-width: 700px;
  margin: 0 auto;
}

.upper-bottom {
  position: relative;
  z-index: 2;
}

.upper-bottom__inner {
  margin: 0 auto;
  width: 40px;
  height: 50px;
  position: relative;
  box-shadow: 0px 5px 20px #000;
}

.upper-bottom__inner:before {
  position: absolute;
  content: '';
  top: 0;
  left: -50px;
  width: 0;
  height: 0;
  border-top: 60px solid rgba(37, 36, 36, 0.664);
  border-left: 50px solid transparent;
}

.upper-bottom__inner:after {
  position: absolute;
  content: '';
  top: 0;
  right: -50px;
  width: 0;
  height: 0;
  border-top: 60px solid rgba(37, 36, 36, 0.664);
  border-right: 50px solid transparent;
}

.upper-bottom__light {
  width: 160px;
  height: 130px;
  background: red;
  bottom: 0px;
  position: absolute;
}

.upper-bottom__light_left {
  left: 0;
  border-radius: 55% 0% 58% 42% / 26% 61% 0% 74%;
  border-radius: 33% 67% 0% 100% / 56% 76% 24% 44%;
  box-shadow: inset -5px 0px 10px black;
}

.upper-bottom__light_right {
  right: 0;
  border-radius: 0% 100% 58% 42% / 100% 26% 74% 0%;
  border-radius: 67% 33% 100% 0% / 76% 56% 44% 24%;
  box-shadow: inset 5px 0px 10px black;
}

.upper-bottom__box {
  width: 70px;
  height: 60px;
  background-color: #a6a6a6;
  margin: 45px auto 0;
  border: 2px solid #000;
}

.upper-bottom__box_left {
  border-radius: 16% 84% 0% 100% / 74% 51% 49% 26%;
  box-shadow: -5px 0 10px #000;
}

.upper-bottom__box_right {
  border-radius: 84% 16% 100% 0% / 51% 74% 26% 49%;
  box-shadow: 5px 0 10px #000;
}

.upper-bottom__inset {
  width: 40px;
  height: 40px;
  margin: 10px auto 0;
  background: url('../img/images.jpg') 0 0 / cover no-repeat;
  border: 2px solid #000;
  box-shadow: 0 2px 5px #fff, inset 5px 5px 10px #fff;
  border-radius: 50%;
}

.upper-bottom__center {
  width: 540px;
  height: 120px;
  background: red url("../img/label.png") center bottom 10px / 20px 20px no-repeat;
  margin: 0 auto;
  border-radius: 0 0 50px 50px;
  border: 1px solid #000;
}

.bottom-car__down {
  margin-top: -50px;
}

.down-bottom {
  max-width: 700px;
  background-color: red;
  height: 150px;
  border-radius: 0 0 30% 30%;
  position: relative;
  border: 1px solid #000;
}

.down-bottom::after,
.down-bottom::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 72px;
  bottom: -30px;
  z-index: -2;
  background: url('../img/protector.jpg') 0 0 / cover no-repeat;
  border-radius: 0 0 10px 10px;
  box-shadow: 30px 0px 15px #000;
}

.down-bottom::before {
  left: 0;
}

.down-bottom::after {
  right: 0;
}

.down-bottom__circle {
  position: absolute;
  background-color: #000;
  width: 78px;
  height: 75px;
  bottom: 20px;
}

.down-bottom__circle_left {
  left: 55px;
  border-radius: 0% 100% 0% 100% / 71% 34% 66% 29%;
  box-shadow: -5px 5px 10px #a6a6a6, inset -3px 3px 5px #a6a6a6;
}

.down-bottom__circle_right {
  right: 55px;
  border-radius: 100% 0% 100% 0% / 34% 71% 29% 66%;
  box-shadow: 5px 5px 10px#a6a6a6, inset -3px 3px 5px #a6a6a6;
}

.down-bottom__center {
  margin: 0 auto 50px;
  max-width: 400px;
  padding-top: 60px;
  border-radius: 15px 15px 60px 60px;
  overflow: hidden;
}

.down-bottom__center img {
  max-width: 100%;
}